*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.container{
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    /* padding: 20px; */
    color: #fff;
    text-align: center;
    height: 50vh;
    div{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;    
        text-align: center;
        h1{
            font-size: 5rem;
        }
    }
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sub-title{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    text-align: center;

}

.card {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    
    h1{
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    span{
        font-size: 15px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}
.card:hover{
    box-shadow: 0px 0px 10px 0px #00000093;
    transform: scale(1.05);
    transition: 0.3s;
}

.swipe-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.feedback{
    padding: 10px;
    /* background-color: yellow; */
    /* border: 1px solid rgb(56, 53, 53); */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

}

.feedbackForm{
    width: 100%;
    form{
        margin: 20px auto;
        padding: 20px;
        width: 100%;
        border: 2px solid black;
        box-shadow: 0 2px 5px rgba(35, 34, 34, 0.2);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        input{
            width: 100%;
            border-style: none;
            border: 2px solid black;
            border-radius: 5px;
            padding: 10px;
        }
        button{
            border-style: none;
            background-color: rgb(47, 49, 47);
            cursor: pointer;
            width: 20%;
            height: 30px;
            color: white;
            border-radius: 5px;
        }
    }
}

